# IntelliJ project files
.idea
*.iml
out
gen

# Datasets
*.txt
*.csv
*.png

# Logs and Checkpoints
*__pycache__
*ipynb_checkpoints

# Models
*.pt
*.pkl
*.pickle
*.h5
*.hdf5
*.model

# Binaries
*.p
ckpt*
checkpoint
