*__pycache__
*ipynb_checkpoints/

# Datasets Skipped
*.csv
*.txt
DCGAN Celebrity Faces/input
DCGAN Celebrity Faces/images

# Models Skipped
*.h5
*.hdf5
*.model

# Binaries Skipped
*.p
ckpt*
checkpoint
TV Script Generation/training_checkpoints/
