# IntelliJ project files
.idea
*.iml
out
gen

# Datasets
*.txt
./Naive Bayes/SMSSpamCollection
./Naive Bayes/readme
*__pycache__
*.ipynb_checkpoints/
*.csv
*.png
/Machine Translation/data/
/Voice to Text/LibriSpeech/

# Logs and Checkpoints
/Machine Translation/logs/
/Sentiment Analysis/checkpoints/
*__pycache__
*ipynb_checkpoints
*__pycache__
*ipynb_checkpoints/
*__pycache__
*ipynb_checkpoints

# Data Skipped
/Data

# Models Skipped
*.pt
*.pkl
*.pickle
